*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.hero{
    background-image: url("banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 808px;
    padding: 216px 230px 166px 845px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-container{
    max-width: 494px;
    text-align: right;
}

.hero-container h1{

    font-size: 65px;
    font-weight: bold;
    color: white;
    margin-bottom: 24px;
}

.hero-container p{
    font-size: 16px;
    line-height: 26px;
    color: white;
    margin-bottom: 32px;
}

.btn{
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 21px 25px;
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
}


.failure{
    margin-top: 130px;
    padding: 130px 322px 0 206px;
   
}

.failure-container{
    max-width: 1072px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 134px;
}

.failure-image{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    
}

.failure-image img{
    max-width: 525px;
    align-items: flex-end;
    z-index: 1;

}


.image-bg{
    border: none;
    border-radius: 100%;
    background-color: #cccccc56;
    width: 527.93px;
    height: 527.93px;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
}


.failure-text{
    max-width: 416px;
}

.failure-text h2{
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.failure-text p{
    font-size: 16px;
    font-weight: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.failure-text ul{
    list-style: none;
}

.failure-text ul li{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 8px;
}

.failure-text ul li::before{
    content: "✔";
    font-size: 16px;
    color: rgb(0, 168, 0);
    margin-right: 10px;
}

.plan-container{
    margin-top: 130px;

}

.plan-heading{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}

.plan-card{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    gap: 50px;
}

.card-about img{
    max-width: 93px;
    margin-bottom: 24px;
}

.card-about h3{
    font-size:30px ;
    color:#151414 ;
    margin-bottom:16px ;

}

.card-about p{
    font-size: 25px;
    color: #737272;
}


.ad-banner{
    margin-top: 130px;
}

.banner{
    background-image: url("gradient1.png"), url("watch.png");
    background-repeat: no-repeat;
    max-width: 1140px;
    height: 300px;
    margin:0 auto;
    padding: 59px 617px 59px 64px;
    align-items: center;
}

.banner h2{
    font-size: 40px;
    color: white;
    margin-bottom: 24px;

}